/* font-family: 'Amatic SC', cursive;
font-family: 'Gloria Hallelujah', cursive;
font-family: 'Roboto', sans-serif; */

* { /* reset do css */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(http://img.ibxk.com.br/ns/rexposta/2017/10/28/28094232935022.jpg?watermark=neaki&w=600);
    background-size: auto 100vh;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    height: 100vh;
}

/* se a tela tiver pelo menos 400px vai carregar estes estilos */
@media (min-width: 400px) {
    body {
        font-size: 16px;
    }
}

/* breakpoint */
@media (min-width: 700px) {
    body {
        font-size: 14px;
    }
}

@media (min-width: 1000px) {
    body {
        font-size: 17px;
    }
}

header {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
}

.menu {
    background-color: whitesmoke;
    position: fixed;
    top: 0; /* só funciona com position */
    width: 100vw;
}

.menu ul {
    display: flex;
    justify-content: space-around; /* só funciona com display: flex */
}

.menu li { /* seletor hierárquico */
    list-style: none;
}

.menu a {
    display: block; /* permitir que ele receba o padding, pq por padrão ele é inline */
    padding: 8px 30px;
}

a {
    color: purple;
    text-decoration: none;
}

a:hover { /* classe com pseudo-classe */
    text-decoration: underline;
}

.site-subtitle,
.site-title {
    color: whitesmoke;
    text-align: center;
    
}

.site-title {
    font-size: 3.7em; /* 3 vezes o tamanho da font do body */
    font-family: 'Gloria Hallelujah', cursive;
}

.site-subtitle {
    font-family: 'Amatic SC', cursive;
    font-style: italic;
}

.portfolio {
    padding: 2em;
    height: 100vh;
}

.portfolio h2 {
    color: whitesmoke;
    font-family: 'Amatic SC', cursive;
    font-size: 2em;
    margin-bottom: 1.2em;
}

.portfolio .grid {
    display: grid;
    gap: 1.5em;
}

@media (min-width: 600px) {
    .portfolio .grid {
        grid-template-columns: 260px 260px ;
    }
}

@media (min-width: 900px) {
    .portfolio .grid {
        align-content: center;
        grid-template-columns: repeat(3, 260px);
        height: calc(100vh - 8em - 50px);
        justify-content: center;
    }
}

.portfolio figure {
    text-align: center;
}

.img-portfolio {
    height: 180px;
    width: 260px;
    object-fit: cover;
    border-radius: 10px;
}

/* @media (min-width: 1200px) {
    .img-portfolio {
        height: auto;
        width: 100%;
    }
} */